[Desktop Entry]
Type=Application
Version=1.5
Name=Conjugator
Comment=Verb conjugation trainer
TryExec=conjugator
Exec=conjugator
Icon=conjugator
Terminal=false
Categories=Education;Languages;
