[Desktop Entry]
Type=Application
Version=1.5
Name=Conjugateur
Comment=French verb conjugation trainer
TryExec=conjugateur
Exec=conjugateur
Icon=conjugateur
Terminal=false
Categories=Education;Languages;