<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>conjugateur</string>
	<key>CFBundleIconFile</key>
	<string>conjugateur.icns</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>LSMinimumSystemVersion</key>
	<string>11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2023 Timo Früh This program is free and open source software, licensed under the GNU General Public License 3.0. For further information, see &lt;https:://www.gnu.org/licenses&gt;.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0-alpha-3</string>
	<key>CFBundleVersion</key>
	<string>1.0.0-alpha-3</string>
	<key>CFBundleName</key>
	<string>Conjugateur</string>
	<key>CFBundleIdentifier</key>
	<string>com.tifrueh.conjugateur</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
